@import '~antd/dist/antd.less';
body {
  height: 100%;
}
.App {
  text-align: center;
}
.logo {
  height: 32px;
  //background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  img {
    height: 100%;
  }
  span {
    margin-left: 5px;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
  }
}
.hide {
  display: none;
}
.show {
  display: inline-block;
  animation-delay:2s;
  -webkit-animation-delay:2s;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.nav {
  height: calc(100vh - 64px);
} 
Link {
  color: #fff;
}
